NEXT_PUBLIC_SUPABASE_URL=https://mwlvbnjosarfjkzntouj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im13bHZibmpvc2FyZmprem50b3VqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxOTEwOTIsImV4cCI6MjA4OTc2NzA5Mn0.kXrQUYOo1EvW1HEyogvCjSTDzDbkv38VN-Md1Pzv8DA
